html, body, main{
    width: 640px;
    height: 1136px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;

}

.voltar{
    position: relative;
    top: 0rem;
    right: 10rem;
    width: 4rem;
    height: 4rem;
}

.foto{
    position: relative;
    top: 0rem;
    left: 10.25rem;
}

main {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #E2FFD8; 
}

input {
    width: 30rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: 4rem;
    background-color: #00000037; 
    font-size: 2rem;
    text-indent: 1rem;
    border: 0.2rem solid black;
    border-radius: 0.4rem;
}

input::placeholder {
    color: #ffffff70;
}