html{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;

}

.voltar{
    position: relative;
    top: 0rem;
    right: 10rem;
    width: 4rem;
    height: 4rem;
}

.foto{
    position: relative;
    top: 0rem;
    left: 10.25rem;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    overflow: auto; 
}



input {
    width: 30rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: 4rem;
    background-color: #00000037; 
    font-size: 2rem;
    text-indent: 1rem;
    border: 0.2rem solid black;
    border-radius: 0.4rem;
}

input::placeholder {
    color: #ffffff70;
}

.message-bubble {

    display: flex;
    background-color: #E2FFD8;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin: 0.5rem;
    margin-left: 20rem;
    max-width: 20rem;
    min-height: 1.5rem;
    justify-content: flex-start;
    word-break: break-word;
    list-style: none;
    hyphens: none;
    
}


.chat li {
    display: flex;
    text-align: left;
}

#sendButton {

    position: fixed;
    bottom: 1.5rem;
    right: 5rem;
    width: 6rem;
    height: 6rem;
}

.area-enviar {
    position: fixed;
    bottom: 0rem;
    justify-items: center;
}

.linha {
    display: flex;
    flex-direction: row;
}

.coluna {
    display: flex;
    flex-direction: column;
}