html {
    font-family: 'Roboto', sans-serif;

}

h2{
    
    width: 13rem;
    margin-left: 10px;
    margin-top: 40px;
    font-size: 3rem;
}


section{
    display: flex;
    border: 0.1rem solid black;
    margin: 1rem;
    margin-top: 5rem;
    justify-content: space-between;
    margin-left: 5rem ;
    background-color:#E2FFD8;
    height: 7rem;
    width: 30rem;
}

#mob {
    font-size: 2rem;
    line-height: 2rem;
}

h3{
    margin-left: 45px;
    position: fixed;   
}

.barra-pesquisa {
    margin-top: 2rem;
    width: 30rem;
    height: 4rem;
    border: 0.1rem solid #000000;
    border-radius: 0.7rem;
    font-size: 2rem;
    color: #000000;
    text-align: left;
    line-height: 3.7rem;
    text-indent: 4rem;
    
}

.input::placeholder {
    color: #00000065;
}

.linha {
    display: flex;
    flex-direction: row;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.relative {
    display: flex;
    position: relative;
}

#lupa {
    position: absolute;
    display: flex;
    top: 3rem;
    left: 1rem;
    height: 2rem; 
    width: 2rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#foto_produto{
    height: 6rem;
    width: 6rem;
    padding: 0.5rem;
}

#highline{
    width: 25rem;
    border-bottom: 0.1rem solid #000000;
}

.barra-nav {
    display: flex;
    width: 33.5rem;
    height: 4.5rem;
    border: 0.2rem solid #000000;
    border-radius: 2.25rem;
    background-color:#A8F58D;
    margin-top: 4.5rem;

}

.evenly {
    display: flex;
    justify-content: space-evenly;
}

#inicial img {
    height: 6rem;
    width: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: -0.7rem;
}

#info img {
    height: 4rem;
    width: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.2rem;
}

#vender img {
    height: 4rem;
    width: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.3rem;
}

#perfil img {
    display: flex;
    height: 4rem;
    width: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.3rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

}