html {
    font-family: 'Roboto', sans-serif;
}

header{
    margin-left: 10px;
    margin-top: 65px;
    font-size: 2.0rem;
}


h2{
    font-size: 2.5rem;
    border-bottom: 0.15rem solid black ;
    margin-left: -3rem;
    margin-top: 10px;
    
}
h3{
    font-size: 1.8rem;
    margin-left: -3rem;
}

h5 {
    display: flex;
    font-size: 3rem;
    text-align: right;
    margin-right: 1rem;
    margin-top: 0.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#section{
    display: flex;
    flex-direction: row;
    border: 0.1rem solid black;
    margin: 1rem;
    margin-top: 30px;
    justify-content: space-between;
    background-color :#f0f0f0 ;
}



h1{
    margin-top: 5.0rem;
    font-size: 5.0rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

main{
    border: 0.1rem solid black;
    margin: 3rem;
    position: flex;
    justify-content: space-between;
    align-items: center;
    height: 55rem;
    background-color: #E2FFD8; 
 
}

.linha {
    display: flex;
    flex-direction: row;
}

.coluna {
    display: flex;
    flex-direction: column;
}


#foto_produto{
    height: 6rem;
    width: 6rem;
    padding: 0.5rem;
}

#icone-voltar {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
}

.barra-nav {
    display: flex;
    width: 33.5rem;
    height: 4.5rem;
    border: 0.2rem solid #000000;
    border-radius: 2.25rem;
    background-color:#A8F58D;
    margin-top: -5rem;

}

.evenly {
    display: flex;
    justify-content: space-evenly;
}

#inicial img {
    height: 6rem;
    width: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: -0.7rem;
}

#info img {
    height: 4rem;
    width: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.2rem;
}

#vender img {
    height: 4rem;
    width: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.3rem;
}

#perfil img {
    display: flex;
    height: 4rem;
    width: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.3rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

}

#icone-mais {
    width: 3rem;
    height: 3rem;
    justify-content: center;
    margin-left: 14rem;
    margin-top: 0.5rem;

}

#botao-mais {

    display: flex;
    flex-direction: row;
    border: 0.1rem solid black;
    margin: 1rem;
    margin-top: 30px;
    width: 31.7rem;
    height: 4rem;
    justify-content: space-between;
    background-color :#f0f0f0 ;

}

.coluna {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
}