html {

    font-family: 'Roboto', sans-serif;

}

header {

    color: #000000;
    font-size: 6rem;
    text-align: center;
    padding-top: 5rem;
    position: relative;
    height: 6rem;
    width: 20rem;
}

.voltar {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px; /* Adjust as per your image size */
    height: 30px; /* Adjust as per your image size */
}

main {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #000;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid #ccc;
    font-size: 16px;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
    color: #aaa;
}

textarea {
    border: none;
    padding: 10px;
    border-radius: 0;
    margin-top: -10px; /* to align with the description line */
    background: transparent;
    border-bottom: 2px solid #ccc;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Style for the file input */
input[type="file"] {
    border: none;
    padding: 0;
    /* Add more styles to make it look like the screenshot */
}

button {
    background: #4CAF50; /* Adjust the color to match your design */
    color: #fff;
    font-size: 18px;
    border: none;
}

/* Style for description lines, assuming you have a class for these lines */
.description-line {
    border-bottom: 2px dashed #ccc;
    margin-bottom: 5px;
}

/* Adjust the following classes based on your HTML structure */
.nome, .peso, .preco, .foto, .descricao, .postar {
    margin-bottom: 20px;
}

.botaoPostar {
    background-color: #000;
    color: white;
    border: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 25px;
}

/* Hide the default file input and customize it */
input[type='file'] {
    opacity: 0;
    width: 100%;
    height: 60px;
    position: relative;
}

/* Custom file upload button */
.file-upload-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.file-upload-wrapper::after {
    content: 'FOTO';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: #4CAF50; /* Adjust the color to match your design */
    color: white;
    padding: 10px;
    border-radius: 0 20px 20px 0;
}
