body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem; 
    height: 71rem; 
}

#icone-voltar {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 4rem; 
    height: 4rem; 
}

h1 {
    font-size: 5rem; 
    margin: 2rem 0;
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}

.input-group input {
    background-color:#E2FFD8;
    width: calc(100% - 7rem); 
    height: 3rem; 
    padding: 0 1rem;
    font-size: 1.5rem; 
    border: 0.1rem solid #000;
    border-radius: 0.5rem; 
}

.input-group img {
    width: 3rem; 
    height: 3rem; 
}

.photo-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.photo-upload label {
    font-size: 1.5rem; 
    margin-bottom: 1rem;
}

.photo-upload input {
    display: none;
}

.photo-upload .upload-icon {
    width: 20rem; 
    height: 20rem; 
    border-radius: 0.5rem; 
    margin-bottom: 1rem;
}

.description {
    width: 100%;
    margin-bottom: 1rem;
    
}

.description label {
    font-size: 1.5rem; 
}

.description textarea {
    background-color:#E2FFD8;
    width: 100%;
    height: 8rem; 
    padding: 0.5rem;
    font-size: 1.5rem; 
    border: 0.1rem solid #000;
    border-radius: 0.5

}

.upload-icon-label {
    cursor: pointer; 
    display: inline-block; 
}

.upload-icon {
    
    width: 4rem; 
    height: 4rem; 
}

button {
    background-color:#A8F58D;
    float: right;
    height: 3rem;
    width: 7rem;
    font-size: 1.5rem;

}